body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
}

#game-container {
    border: 2px solid black;
}

#p2p-info {
    margin-top: 20px;
}